@import url('https://fonts.googleapis.com/css2?family=Anton&family=Radio+Canada&family=Raleway:wght@300;400&family=Tapestry&display=swap');

html,body{
	padding: 0;
	margin: 0;
}

body{
	background-color: rgb(0,0,0,0.4);
	
}
/********* HEADER PART ***********/
.container-fluid header h1{
	color: rgb(255,255,0);
	font-size: 70px;
	font-family: 'Raleway',"cursive;";
	font-weight: bold;
	margin: 20px;
}



.main-menu{
	/*background: pink;*/
	padding: 10px;
}

.container .main-menu li{
	padding-left: 10px;
	padding-right: 10px;

}

.container .main-menu li a{
	color: white;
	text-decoration: none;
	margin-left: 0;
	text-align: left;
}

/*
.container .main-menu li:hover{
	border: 3px solid rgb(255,255,0);
}*/

.container .main-menu li a:hover{
	color: rgb(255,255,0);
	/*font-weight: bold;*/
}

header p{
	height: 50px;
	display: flex;
	flex-direction: column;
    justify-content: flex-end;
}


/**      WELCOME PHOTO   **/
.slider-Div{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
}

.container-fluid .slider div{
	width: 100%;
	height: 600px;
}


.container-fluid .slider div img{
	width: 100%;
	height: 100%;
	margin: auto;
}


/********* YALE INFO PART -- THINGS TO SEE IN THE PAGE***********/
.container{
	margin-bottom: 50px;
}


.yaleDetails {
background: linear-gradient(281deg, rgba(255,243,60,1) 57%, rgba(255,253,234,1) 79%);
}

.frow-col{
	/*border: 2px solid black;*/
	margin-top: 50px;
	padding: 20px;
}

/********** In"about this school MENU" **********/

.on-this-page li{
	padding: 10px;
	list-style: square;
	color: #FFE300;
}

.yaledetails-Div h2{
	color: #FFE300;
	font-size: 30px;
	font-family: "Raleway",sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
}

.on-this-page li a{
	text-decoration-style: double;
	color: #fff;
}

.on-this-page li a:hover{
	color: #FFE300;
}


/*   ORANGE SIDE BAR */
aside{
	margin-left: 50px;
	background-color: #ff6e01;
	padding: 5px;
	font-size: 13px;
	height: 100%;
	width: 200px;
}

/****** ***********/


.GD-Div .row{
		display: flex;
		justify-content: right;
}

.GD-Div h3, .visiting-Div h3, .slider-Div h3{
	font-size: 25px;
	font-family: "Raleway",sans-serif;
	margin: 20px;
	font-weight: bold;
	color: #FFE300;

}

.GD-Div .row .col-md-4,.GD-Div .row .col-md-7{
		height: 450px;
		/*border: 1px solid black;*/
}

.GD-Div .row .col-md-7{
	padding: 0;
}

.GD-Div .row .col-md-7 img{
		width: 100%;
		height: 100%;
}

.GD-Div .row .col-md-4 p{
		font-size: 13px;
		text-align: justify;
		color: #000;
}

/*********** VISITING SECTION*************/



.visiting-Div .row .col-md-6 p{
	margin-left: 15%;
}

.visiting-Div .see-also-text{
	background-color: orange;
}



/****** IMAGE DIV -- PAST EXHIBITIONS *****/
.slider-Div{
	padding: 0;
	margin: auto;
	width: 100%;
	background: transparent;
}

.container .slider div{
	width: 100%;
	height: 500px;

}

.container .slider div img{
	width: 100%;
	height: 100%;
}

.container .slider div h5{

	font-family: "Raleway",sans-serif;
	text-align: center;
}


/**********EXHIBIT VIDEO*********/

.video-Div h3 {
	font-size: 25px;
	font-family: "Raleway",sans-serif;
	font-weight: bold;
	color: #FFE300;
}

.video-Div div{
	display: flex;
	justify-content: center;
}


.video-Div video {
	width: 800px;
	height: 500px;
}

/***************FOOTER***********/
footer{
	background-color: rgb(0,0,0,0.2);
	padding: 0;
}

footer .row .col-md-3{
	height: 250px;
	/*border: 1px solid black;*/
	text-align: center;
}

footer .moreLink-text{
	margin: 10px;
}

footer .yale-text{
	font-size: 13px;
}

footer p{
	max-height: 20px;
}

footer .footer-hr{
	width: 100%;
	height: 2px;
	background-color: #000;
}

footer .buttonDiv{
	display: flex;
	justify-content: center;
}

footer .buttonDiv h5{
	display: flex;
	justify-content: center;
	line-height: 60px;
}

footer div .buttontext{
	min-height: 50px;
	width: 200px;
	background-color: rgb(255,0,0,0.7);
	border-radius: 20px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer div .buttontext:hover{
	background-color: rgb(255,0,0,1);
}

footer .moreLink-text{
	margin-left: 15%;
}


footer ul{
	list-style: square inside;
}

footer ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}

footer ul li {
	padding: 10px;
	color: rgb(0, 0, 255,0.8);

}

footer ul li a:hover{
	color: rgb(0, 0, 255,0.8);
}

/***** FOOTER ICON ******/

footer .sm-Div{
	display: flex;
	justify-content: center;
}

.sm-menu{
	list-style: none;
}

.sm-menu li{
	display: inline;
	padding: 40px;
}

.sm-menu li a img:hover{
	background-color: #fff;
	border-radius: 50%;
}

.Copyright-text{
	width: 100%;
	min-height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: rgb(0,0,0,0.9);
	color: #fff;
}
