@import url('https://fonts.googleapis.com/css2?family=Anton&family=Radio+Canada&family=Raleway:wght@300;400&family=Tapestry&display=swap');

html,body{
	padding: 0;
	margin: 0;
}

body{
	background-color: rgb(0,0,0,0.4);
	
}
/********* HEADER PART ***********/
.container-fluid header h1{
	color: rgb(255,255,0);
	font-size: 70px;
	font-family: 'Raleway',"cursive;";
	font-weight: bold;
	margin: 20px;
}

.main-menu{
	/*background: pink;*/
	padding: 10px;
}

.container .main-menu li{
	padding-left: 10px;
	padding-right: 10px;

}

.container .main-menu li a{
	color: white;
	text-decoration: none;
	margin-left: 0;
	text-align: left;
}

/*
.container .main-menu li:hover{
	border: 3px solid rgb(255,255,0);
}*/

.container .main-menu li a:hover{
	color: rgb(255,255,0);
	/*font-weight: bold;*/
}

header p{
	height: 50px;
	display: flex;
	flex-direction: column;
    justify-content: flex-end;
}


/**      WELCOME PHOTO   **/
.slider-Div{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
}

.container-fluid .slider div{
	width: 100%;
	height: 600px;
}

.container-fluid .slider div img{
	width: 100%;
	height: 100%;
	/*padding-top: 2.5%;*/
}

/********* YALE INFO PART -- THINGS TO SEE IN THE PAGE***********/



.yaleDetails {
background: linear-gradient(281deg, rgba(255,243,60,1) 57%, rgba(255,253,234,1) 79%);
}

.frow-col{
	/*border: 2px solid black;*/
	margin-top: 50px;
	padding: 20px;
}

.yaledetails-Div h2{
	color: #FFE300;
	font-size: 30px;
	font-family: "Raleway",sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
}

.editor_details{
	height: 40px;
	width: 120px;
	float: right;
	margin: 0;
	border: 1px solid black;
	padding: 5px;
	background: white;

}

aside{
	margin-left: 50px;
	background-color: #ff6e01;
	padding: 5px;
	font-size: 13px;
	height: 100%;
	width: 200px;
}

/********** ON THIS PAGE **********/

.on-this-page li{
	padding: 10px;
	list-style: square;
	color: #FFE300;
}

.on-this-page li a{
	text-decoration-style: double;
	color: #fff;
}

.on-this-page li a:hover{
	color: #FFE300;
}

/****** QUICK LINKS *********/
.container .quicklink-text, .calendar-text, .update-text{
margin: 50px 50px 50px 0;
background: linear-gradient(281deg, rgba(255,243,60,1) 57%, rgba(255,253,234,1) 79%);
width: 320px;
padding: 10px;
}

.quickLinkDiv{
	padding: 0;
	/*border: 1px solid black;*/
	width: 400px;
	float: left;
}

.quickLinkDiv p{
	font-weight: bold;
	margin: 0;
}

.quickLinkDiv span img{
	width: 50px;
	height: 50px;
	margin-left: 120px;
	margin-right: 20px;
}

.quickLink-Menu{
background: linear-gradient(281deg, rgba(255,243,60,1) 57%, rgba(255,253,234,1) 79%);
width: 320px;
margin-top: -50px;
list-style: none;
margin-bottom: 0;
}

.quickLink-Menu span{
	font-size: 11px;
	font-style: italic;
}

.quickLink-Menu li{
margin-top: 0;
margin-bottom: 10px;
}

.quickLink-Menu li a{
text-decoration: none;
color: #000;
}

.quickLink-Menu li a:hover ,.quickLinkDiv .covid-19Update a:hover{
	color: #00f;
	text-decoration: underline;
}

.quickLinkDiv .calendar-text,.quickLinkDiv .update-text{
	margin-top: -10px;
}

.quickLinkDiv .covid-19Update{
 	background: linear-gradient(281deg, rgba(255,243,60,1) 57%, rgba(255,253,234,1) 79%);
 	width: 320px;
 	padding-left: 10px;
 	font-weight: normal;
}

.quickLinkDiv .covid-19Update a{
	color: #00f;
	text-decoration: none;
	font-size: 14px;
	color: #000;
}

/************* SET VISIBILITY OF QUICKLINKS TO FALSE */

.quickLink-Menu, .calendar-text, .update-text, .covid-19Update{
	display: none;
}


/*************     IFRAME -- PRESENTATION       *********/

.yale-video {
	width: 	850px;
	height: 877px;
	float: right;
	padding: 0;
	/*border: 1px solid blue;*/
}

.yale-video iframe{
	margin-top: 50px;
	width: 100%;
	height: 600px;
	border: none;
}

/****** CREATE 5 SECTIONS FOR THE "ON THIS PAGE MENU" ****/

.onthispage-Div {
	clear: both;
	padding: 0;
}

.onthispage-Div hr{
	width: 700px;
	margin: auto;
	height: 10px;
	background-color: #000;
	margin-top: 10px;
	margin-bottom: 10px;
}
/******* SECTION 1 -- HAPPENING AT SOA******/
#section1, #section2{
	/*background-color: pink;*/
	height: 830px;
	padding: 0;
	/*border: 1px solid red;*/
}

.onthispage-Div section h3{
	text-align: center;
	color: #000;
	font-size: 50px;
	font-family: "Anton","cursive;";
	letter-spacing: 2px;
	margin: 10px;
	padding: 10px;
	font-style: normal;
	color: #FFE300;
}

#section1 .section1-col1,#section1 .section1-col2{
	height: 600px;
	margin: auto;
	/*border: 1px solid black;*/
}


#section1 .section1-col2 {
	background-color: #e3ffff;
	border-radius: 20px;
}

#section1 .section1-col2 h4{
	font-style: italic;
	font-family: "Raleway",sans-serif;
	color: #000;
	font-weight: bold;
}

#section1 .section1-col2 p{
	font-family: "Raleway",sans-serif;
	color: #000;
}

/************** SECTION 2 -- GREEN HALL VALLEY ****************/

#section2 .section2-col1,#section2 .section2-col2{
	height: 700px;
	margin: auto;
	/*border: 1px solid black;*/
}

#section2 .section2-col2 {
	background-color: #e3ffff;
	line-height: 20px;
	border-radius: 20px;
}

#section2 .section2-col2 .ghg-p{
	font-size: 13px;
	line-height: 15px;
}

#section2 .section2-col2 h4{
	font-weight: bold;
	font-style: italic;
	font-family: "Raleyway",sans-serif;
	color: #000;
}

#section2 .section2-col2 p{
	font-family: "Raleyway",sans-serif;
	color: #000;
}

/*** SECTION 3 -- NEWS**/
#section3{
	/*background-color: pink;*/
	height: 790px;
	padding: 0;
	/*border: 1px solid red;*/
}

#section3 .col-md-4{
	height: 550px;
}

#section3 .row div h4{
	height: 90px;
	/*border: 1px solid red;*/
	font-family: "Raleway",sans-serif;
	color: #000;
}

#section3 .row div p{
	height: 110px;
	/*border: 1px solid red;*/
	font-family: "Raleway",sans-serif;
	color: #000;
}

#section3 img{
	width: 100%;
	height: 300px;
}

#section3 h5{
	margin: 20px;
}


/****** SECTION4 -- COMMUNITY BULLETIN BOARD *******/
#section4{
	padding: 0;
	height: 740px;
	/*border: 1px solid red;*/
}

#section4 .row{
	display: flex;
	justify-content: center;
}

#section4 .section4-col1,#section4 .section4-col2{
	margin: 10px;
	overflow-y:auto;
	background: linear-gradient(281deg, rgba(255,243,60,1) 57%, rgba(255,253,234,1) 79%);
}

#section4 .section4-col1 p,#section4 .section4-col2 p{
	font-size: 14px;
}

/************* SECTION 5 ***********/
#section5{
	padding: 0;
	height: 600px;
	/*border: 1px solid red;*/
	margin-bottom: 50px;
}


#section5 .row{
	display: flex;
	justify-content: center;
}

#section5 .section5-col1{
	margin: 10px;
	background: linear-gradient(281deg, rgba(255,243,60,1) 57%, rgba(255,253,234,1) 79%);
	border-radius: 20px;
	height: 450px;

}

#section5 .section5-col2{
	margin: 10px;
	background: linear-gradient(284deg, rgba(50,255,50,1) 71%, rgba(249,255,249,1) 83%);
	border-radius: 20px;
}

#section5 .section5-col1 p{
	font-size: 13px;
	max-height: 30px;
	font-style: italic;
}

#section5 .section5-col1 a, #section5 .section5-col1 a{
	font-size: 20px;
	font-style: normal;
}

#section5 .section5-col2 p{
	font-size: 15px;
	max-height: 50px;
	margin-left: 20px;
}





/***************FOOTER***********/
footer{
	background-color: rgb(0,0,0,0.2);
	padding: 0;
}

footer .row .col-md-3{
	height: 250px;
	/*border: 1px solid black;*/
	text-align: center;
}

footer .moreLink-text{
	margin: 10px;
}

footer .yale-text{
	font-size: 13px;
}

footer p{
	max-height: 20px;
}

footer .footer-hr{
	width: 100%;
	height: 2px;
	background-color: #000;
}

footer .buttonDiv{
	display: flex;
	justify-content: center;
}

footer .buttonDiv h5{
	display: flex;
	justify-content: center;
	line-height: 5px;
}

footer div .buttontext{
	min-height: 50px;
	width: 200px;
	background-color: rgb(255,0,0,0.7);
	border-radius: 20px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer div .buttontext:hover{
	background-color: rgb(255,0,0,1);
}

footer .moreLink-text{
	margin-left: 15%;
}


footer ul{
	list-style: square inside;
}

footer ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}

footer ul li {
	padding: 10px;
	color: rgb(0, 0, 255,0.8);

}

footer ul li a:hover{
	color: rgb(0, 0, 255,0.8);
}

/***** FOOTER ICON ******/

footer .sm-Div{
	display: flex;
	justify-content: center;
}

.sm-menu{
	list-style: none;
}

.sm-menu li{
	display: inline;
	padding: 40px;
}

.sm-menu li a img:hover{
	background-color: #fff;
	border-radius: 50%;
}

.Copyright-text{
	width: 100%;
	min-height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: rgb(0,0,0,0.9);
	color: #fff;
}
